// fonts
$font-geom: 'Geometria', Arial, sans-serif;
$font-ruble: 'PT Rouble Sans', none;


// colors

$c-white: #fff;
$c-black: #000;
$c-yellow: #ff9900;
$c-yellow2: #ffc81f;

//blue
$c-blue: #1446b8;
$c-blue-light: #94ceff;
$c-blue-light1: #c6e6fb;
$c-blue-light2: #dff1ff;
$c-blue-light3: #f2f7fa;
$c-blue-light4: #0073F1;
$c-blue-light5: #ECF5FA;
$c-blue-dark: #469bd6;
$c-blue-dark1: #007ae3;
$c-blue-dark2: #345478;
$c-blue-dark3: #2670a2;
$c-blue-dark4: #2B2B51;
$c-blue-dark5: #3B5A7D;
$c-sky: #5dcaff;
// green
$c-green: #4fd669;
$c-green-light: #10cb34;
// red
$c-red: #ea7272;
$c-red1: #ec7a7a;
// gray
$c-gray: #8a959d;
$c-grayl: #dff0ff;
$c-gray2: #d8d8d8;
$c-gray3: #686868;
$c-gray4: #999999;
$c-gray5: #dedede;
$c-gray6: #E9E9E9;
$c-gray7: #F2F2F2;
$c-gray8: #C8C8CD;
$c-gray9: #fafafa;

// sizes
$screen-d: 1366px;
$screen-t: 1024px;
$screen-m: 640px;
